.project-image
{
    max-width: 50%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.project-card
{
    margin-top: 20px;
    margin-bottom: 40px;
}

.techno-icon 
{
    font-size: 24px;
    margin-left: 2px;
    margin-right: 2px;
}

.techno-icon-svg
{
    height: 24px;
    margin-left: 2px;
    margin-right: 2px;
}

.project-image-caption
{
    margin-bottom: 40px;
}